# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
*.sqlite3
db.sqlite3
staticfiles/

# Virtual Environment
.venv
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
*.env